.sections {
    padding: 16px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    border-style: none;
    background-color: #6a2aff;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 16px #00000055;
    transition: all 0.15s;
}

.section:hover {
    cursor: pointer;
    text-shadow: 0px 0px 16px #ffffffff;
    background-color: #6a2affbb;
}

.section a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all 0.15s;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 16px;
}

.search a {
    font-size: 16px;
    background-color: #6a2aff;
    margin-left: 8px;
    border-style: solid;
    border-color: #6a2aff;
    padding: 6px;
    border-width: 2px;
    transition: all 0.15s;
}

.search a:hover {
    cursor: pointer;
    border-color: #00000000;
    background-color: #6a2affbb;
}

.search input {
    width: 30%;
    padding: 8px;
    background-color: transparent;
    border-style: solid;
    border-color: #6a2aff;
    color: white;
}

::placeholder {
    color: #6a2aff;
}

.new_entry {
    cursor: pointer;
    color: #6a2aff;
    text-decoration: underline;
}

.new_entry:hover {
    color: #6a2affbb;
}

.info {
    color: #6a2aff;
    text-align: center;
}