.topbar {
  height: 45px;
  width: 100%;
  background-color: #0d0d0d;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 35px;
}

.interactionBtn {
  margin-left: 95.5%;
  display: flex;
  flex-direction: row;
}

.minimize,
.close,
.searchBar button {
  border: none;
  background: none;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(196, 22, 22);
  transition: ease-in-out 0.2s;
}

.minimize:hover {
  background-color: #1a1a1a;
  transition: ease-in-out 0.2s;
}
