.buttonAnchor {
  cursor: pointer;
  text-decoration: none;
}

.buttonAnchor div {
  color: #fff;
  cursor: pointer;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper img {
  width: 24px;
  height: 24px;
}

.active div {
  background-color: #6a2aff;
  border-radius: 8px;
  padding: 7px;
}
