.sidebar {
  height: 100%;
  width: fit-content;
}

.sidebar_top {
  display: flex;
  flex-direction: row;
  gap: 28px;
  background-color: #0d0d0d;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);
}

/* Sidebar Top */
.sidebar h1 {
  font-family: "Mars", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 33px 10px 33px;
  text-shadow: 0px 0px 16px #ffffffaa;
}

/* Sidebar Elements */
.sidebar_elements {
  background-color: #0d0d0d;
  height: calc(100vh - 94px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar_elements ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

/* Sidebar Bottom */
.sidebar_bottom {
  background-color: #1a1a1a;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.settings {
  background: url(./assets/settings.svg) no-repeat center;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.changelog {
  background: url(./assets/newspaper.svg) no-repeat center;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}
